/* Make sure everything shows up clearly */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* light gray background */
  color: #000; /* black text */
}

#root {
  padding: 20px;
}
